@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;
  font-family: Inter, Manrope, -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

p {
  font-family: "IBM Plex Sans", Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: #6af;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff11;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #fff3;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff3a;
}



/* Global classes */

.primaryButton, .secondaryButton {
  padding: 10px 15px;

  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-align: center;

  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #63bef2 0%, #1397E6 100%);
  text-decoration: none;

  transition: filter .1s, transform .1s;
}

.primaryButton:hover, .secondaryButton:hover {
  cursor: pointer;
  filter: brightness(.9);
}

.primaryButton:active, .secondaryButton:active {
  filter: brightness(.8);
  transform: scale(.95);
}

.secondaryButton {
  width: fit-content;

  font-size: 16px;
  font-weight: 500;

  border-radius: none;
  background: transparent;
}

.bluePurpleGradient {
  background: linear-gradient(to right, #5555e7, #f75ef7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollDownSymbol {
  color: #fffa;
  margin-left: 2px;
  animation-duration: 2.5s;
  animation-name: upanddown;
  animation-iteration-count: infinite;
}

@keyframes upanddown {
  0%, 20%, 40%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(3px);
  }
  30% {
    transform: translateY(3px);
  }
}



/* Header */

header {
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;

  background: #141414;
  background: #141414aa;
  backdrop-filter: blur(16px);
}

header > h1 {
  position: absolute;
  margin-left: 15px;

  font-size: 22px;
  line-height: 60px;

  opacity: 0;
  user-select: none;
}

header > a > img {
  position: absolute;
  height: 35px;
  margin: 12.5px;
  margin-left: 15px;
}

.animatedHeader > h1 {
  animation-name: name-animate;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, .8, 1, .2);

  background: linear-gradient(to right, transparent 0%, #3af7ff 20%, #45f360 40%, #f35df7 60%, #514be9 80%, transparent 100%);
  background-size: 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animatedHeader > a > img {
  animation-name: logo-animate;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 1, 1, 1);
}

@keyframes name-animate {
  0% {
    transform: translateX(-10px);
    background-position: right;
    opacity: 1;
  }
  100% {
    transform: translateX(40px);
    background-position: left;
    opacity: 1;
  }
}

@keyframes logo-animate {
  0% {
    opacity: 0;
  }
  75% {
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



/* Intro */

.introDiv {
  width: 80%;
  padding: 0 10%;
  height: 100vh;
  margin-top: -60px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}



/* Content */

.contentDiv {
  background: #141414;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.headerDiv {
  width: 80%;
  padding: 0 10%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDiv h1 {
  font-size: 35px;
  text-align: center;
}



/* Footer */

footer {
  width: 100%;

  background: #141414;
  display: flex;
  align-items: center;
}

footer p {
  margin: 0;
  padding: 20px;
  color: #888;
}
