.neonEraHeader {
  margin-right: -30px;
  letter-spacing: 30px;
  font-size: 36px;
  font-weight: 800;
}



/* Products */

.productsDiv {
  width: calc(100% - 400px);
  padding: 0 200px;
  padding-bottom: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  width: 340px;
  height: 240px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 32px #0001;
  background: #2a2b2d;
}

.productCard img {
  padding: 0;

  padding: 10px;
  background: white;
  border-radius: 40px;
}

.productCard h1 {
  position: absolute;
  top: 20px;
  left: 115px;
  height: 80px;
  line-height: 80px;
}

.productCard div {
  height: 90px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productCard a {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.productCard a:last-child {
  left: 70px;
}
